/*-- COLORS --*/

:root {
    --header-bg-green: rgba(14, 195, 137, .88);
    --secondary-green: #00896C;
    --hover-green: #00725A;

    /*-- NON-COLORS --*/

    --main-clippath: polygon(0 0, 100% 0, 100% 100%, 0 88%);
    --secondary-clippath: polygon(0 0, 100% 11%, 100% 100%, 0 88%);
}



